.chat-header {
	background-color: #4ECDC4;
	font-family: 'Heebo', sans-serif;
	color: #F7FFF7;
	padding: 25px;	
}
 .room_name{ 
	text-align: center;
    /* align-self: center;
	right: 50px;
	position:fixed;
	display: flex;
	font-size: 25px; */
} 
 .leaving_room {

	font-size: 18px;
	float: right;
	
}  