.chat__header {
	background-color: #4ECDC4;
	/* font-family: 'Heebo', sans-serif; */
	color: #F7FFF7;
	
	/* padding: 15px; */
	display: flex;
	align-items: center; 
	justify-content: last baseline ; 
	border-bottom: 1px solid lightgray;
}
.room__name{
	
	width: 800px;
	align-self: center;
}

/* .chat__headerInfo > h2 {
    margin-bottom: 3px;
    font-weight: 500;
} */

/* .chat__headerInfo > p {
    color: gray;
}  */
 .leaving_room {

	flex: 1;
	
	
	
}  