.chat-header {
	background-color: #4ECDC4;
	font-family: 'Heebo', sans-serif;
	color: #F7FFF7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.leave__room {
	font-size: 20px;
	columns: #1a535c;;
}