.chatpage {
  display: grid;
  /* background-color: #dadbd3; */
  place-items: center;
  height: 90vh;
}
.chatpage__body {
    display: flex;
    
    background-color: #ededed;
    height: 90vh;
    width: 70vw;
    max-width: 1200px;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif
    /* right: 40px;
	 position:fixed; */
  } 
/* .MuiIconButton-root {
  padding: 6px;
} */
.MuiSvgIcon-root {
  fill: currentColor;
}
.MuiSvgIcon-root > .MuiIcon-colorAction	{
  color: white;
}
.chatpage__body__right {
  display: flex;
  flex-direction: column;
  flex:0.8;
}


  /* 4-10-20 try to fix chat */
  /* .chatpage__header{
  width: 90.3vw;
  font-size: 20px;
	right: 35px;
	position:fixed;
	columns: #1a535c;;
  } */